@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #131F3C 0%, #000E31 100%);
  min-height: 100vh;
}

button {
  font-family: 'Poppins', sans-serif;
}

input, select {
  font-family: 'Poppins', sans-serif;
}