.startup-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-content {
  max-width: 800px;
  padding: 0 1rem;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero-description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.9);
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.hero-btn {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: #f09631;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.hero-btn:hover {
  background: #d77e28;
}


@media (max-width: 768px) {
  .hero-title {
    font-size: 1.5rem;
  }

  .hero-description {
    font-size: 0.8rem;
  }
}